server { 
	listen   80; ## listen for ipv4; this line is default and implied
	server_name marcrobards.com www.marcrobards.com;
	access_log /srv/www/marcrobards.com/logs/access.log;
	error_log /srv/www/marcrobards.com/logs/error.log;
	root /srv/www/marcrobards.com/html;
	index index.html index.php index.htm;

	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to index.html
		try_files $uri $uri/ /index.html;
		# Uncomment to enable naxsi on this location
		# include /etc/nginx/naxsi.rules
	}

	#error_page 404 /404.html;

	# redirect server error pages to the static page /50x.html
	#
	error_page 500 502 503 504 /50x.html;
	location = /50x.html {
		root /usr/share/nginx/html;
	}
   	location ~ ^/entracker/201[2-6]/$ {
		rewrite ^/entracker/201([2-6])/$ /entracker/historic/201$1-races.html break;
	}

	location ~ ^/entracker/201[2-6]/(.*) {
		rewrite ^/entracker/201([2-6])/(.*)$ /entracker/historic/201$1-$2.html break;
	}

#	location  /entracker/2016 {
#		rewrite ^/entracker/2016/([0-9.\-a-z]+)/?$ /entracker/index.php?year=2016&team=en&path=$1 last;
#	}

	location /gifs/gifs {
	   autoindex on;
	}


	# php
	location ~ \.php$ {
		set $php_root /srv/www/marcrobards.com/html;
		try_files $uri =404;
		include /etc/nginx/fastcgi_params;
		#fastcgi_pass 127.0.0.1:9000;
		fastcgi_pass unix:/var/run/php5-fpm.sock;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $php_root$fastcgi_script_name;
	}

	# concurs with nginx's one
	#
	location ~ /\.ht {
		deny all;
	}
}


